## SERIES data structure (1D)
declaring and calling a Serie object as a variable. Docs about Series can be accessed here (https://pandas.pydata.org/docs/reference/series.html)

In [1]:
import pandas as pd;

In [2]:
S1 = pd.Series([10, 20, 30, 40, 50]) # declaring or defining series

In [3]:
S1 # calling Series variable

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
S1.index # Accessing labels or indexes

RangeIndex(start=0, stop=5, step=1)

In [5]:
S1.dtype # getting data type

dtype('int64')

In [6]:
S1[2] # accessing value based on label or index value

30

Unlike List or Array, Series allow you to provide a label or index to each element. In the example above. We did not provide indexes so Series automatically assign indexes as a range index starting with 0 and steping by 1. Just like a list or array

#### Series with labels or indexes

In [7]:
S2 = pd.Series([10, 20, 30, 40, 50, 60], index=['a', 'b', 'c', 'd', 'e', 'f']) # Declaring series with labels or indexes

In [8]:
S2 # calling

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64

In [9]:
S2.index # accessing indexes same as array.keys

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [10]:
S2['e'] # Getting element with a particular label

50

In [11]:
S2['f'] = 100 # Updating the value of a given label
S2

a     10
b     20
c     30
d     40
e     50
f    100
dtype: int64

In [12]:
S2['b':'e'] # Getting a subset of the series given the start and end label

b    20
c    30
d    40
e    50
dtype: int64

#### Performing Mathematical operation on the Series element

In [13]:
# Multiplying series by a given value
S3 = pd.Series([1, 3, 5, 7, 9], index=['a', 'b', 'c', 'd', 'e'])
S3 = S3 * 2 
S3

a     2
b     6
c    10
d    14
e    18
dtype: int64

In [14]:
# Adding a given value to the series
S4 = pd.Series([1, 3, 5, 7, 9], index=['a', 'b', 'c', 'd', 'e'])
S4 = S4 + 10
S4

a    11
b    13
c    15
d    17
e    19
dtype: int64

In [15]:
# Multiplying series by anothers series (this will multiply each element in S5 with an element in S6 with a corresponding label)
S5 = pd.Series([10, 20, 30, 40, 50])
S6 = pd.Series([1, 3, 5, 7, 9])
print(S5 * S6)

0     10
1     60
2    150
3    280
4    450
dtype: int64

In [16]:
# Adding series with anothers series (this will add each element in S7 with an element in S8 with a corresponding label)
S7 = pd.Series([10, 20, 30, 40, 50])
S8 = pd.Series([1, 3, 5, 7, 9])
print(S7 + S8)

0    11
1    23
2    35
3    47
4    59
dtype: int64

#### Manipulating series

In [17]:
S9 = pd.Series([10, 20, 30, 40, 50, 60], index=['a', 'b', 'c', 'd', 'e', 'f'])

In [18]:
print(S9.values)

[10 20 30 40 50 60]

In [19]:
# check if value 30 exist in the series S9
30 in S9.values

True

In [20]:
# check if value 70 exist in the series S9
70 in S9.values

False

In [21]:
# check if label 'a' exist in the series S9
'a' in S9

True

In [22]:
# check if label 'g' exist in the series S9
'g' in S9

False

In [23]:
# Apply Filter on the series
myFiltedSeries = S9[S9 < 40]
print(myFiltedSeries)

a    10
b    20
c    30
dtype: int64

In [24]:
# Get median value
S9.mean()

35.0

In [25]:
# Apply Filter on the series by returning values that are greater than the meadium value
greaterThanMeadiam = S9[S9 > S9.mean()]
print(greaterThanMeadiam)

d    40
e    50
f    60
dtype: int64

### Series from dictionary object

In [26]:
# Defining or creating a dictionary object
accountDict = {'Id': 1, 'Name': 'Luna', 'Sex': 'Female', 'Age': 4.5 }

In [27]:
# creating Series object from dictionary object
accountSeries = pd.Series(accountDict)

In [28]:
# Calling the series object made from a dictionary
accountSeries

Id           1
Name      Luna
Sex     Female
Age        4.5
dtype: object

In [29]:
# Accessing a label from the series we just created from a dictionary
accountSeries['Name']

'Luna'

### Naming the Series

In [30]:
# Create a series object and assign a name to it
gradesDict = {'Luna': 99, 'Kate': 95, 'Janvier': 90}
gradesSeries = pd.Series(gradesDict, name='Grades')
gradesSeries

Luna       99
Kate       95
Janvier    90
Name: Grades, dtype: int64