## Data Cleaning and Transformation

- Overview

In real world, data is usually messy. In most cases, the original file we will load into our DataFrame will not be 100% perfect or fully alligned with the task we would like to perform. For example, there is high chance that some cells will have missing values, some rows will be duplicated, some columns or rows header will not be descriptive enough or easy to read, some columns may be redundant or less useful for our task, some values may be on a scale that is more complex to present or analyze, and much more. The good news is that pandas, along with some python built in features, provides us the needed tools to clean, transform and rearrange the data into the right optimized structure prior to using it. And this is the leading objective of the Data Cleaning and Transformation.

In [1]:
# Import pandas
import pandas as pd;

In [2]:
# load data from csv file into DataFrame
df = pd.read_csv('../../titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
3,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
4,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [3]:
# Get number of rows and columns that our data has
df.shape

(896, 12)