- Rename Columns

In [1]:
# Here is how to import pandas in your project
import pandas as pd;

In [2]:
# Create a DataFrame
userDataFrame2 = pd.DataFrame({'name': ['Alice', 'Janvier', 'Carol', 'Kate', 'Bob'], 'age': [25, 30, 35, 25, 40], 'city': ['Rockville', 'Germantown', 'Denver', 'Rome', 'Paris']})

In [3]:
userDataFrame2.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
userDataFrame2.columns

Index(['name', 'age', 'city'], dtype='object')

1. Rename Given columns with Given values

In [5]:
# Rename columns by passing a dictionary with key being the current name and the value being the new name
userDataFrame2.rename(columns={'name': 'UserName', 'age': 'UserAge'}, inplace=True)
userDataFrame2

  UserName  UserAge        city
0    Alice       25   Rockville
1  Janvier       30  Germantown
2    Carol       35      Denver
3     Kate       25        Rome
4      Bob       40       Paris

2. Rename all the columns of a DataFrame

In [6]:
# create dataFrame
userDataFrame2 = pd.DataFrame({'name': ['Alice', 'Janvier', 'Carol', 'Kate', 'Bob'], 'age': [25, 30, 35, 25, 40], 'city': ['Rockville', 'Germantown', 'Denver', 'Rome', 'Paris']})

In [7]:
userDataFrame2.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
userDataFrame2.columns

Index(['name', 'age', 'city'], dtype='object')

In [9]:
#Change all columns. You need to use the slice to force pythod to copy the list and not just the object reference
new_cols = ['UserName', 'UserAge', 'UserCity']
userDataFrame2.columns = new_cols[:]
userDataFrame2

  UserName  UserAge    UserCity
0    Alice       25   Rockville
1  Janvier       30  Germantown
2    Carol       35      Denver
3     Kate       25        Rome
4      Bob       40       Paris