# Learning Pandas Data Structure

pandas is a python data structure library used in machine learning. pandas comes with anaconda so no need to having to install it. just import it. Pandas documentation can be accessed here (https://pandas.pydata.org/docs/user_guide/index.html)

In [1]:
# Here is how to import pandas in your project
import pandas as pd;

### Panda has 3 data structures
1. Series (1D)
2. DataFrame (2D)
3. Panel (3D or multi dimensional DataFrame)

### Series
Series is a one dimessional pandas data structure that can store a list or dictionary of data

In [2]:
# Here is how to create a basic Series
pd.Series(['Janvier', 'Kate', 'Luna'])

0    Janvier
1       Kate
2       Luna
dtype: object

### DataFrame
DataFrame is a two dimessional pandas data structure that can store a list or dictionary of data, Series or another DataFrame

In [3]:
# Here is how to create a basic dataFrame
pd.DataFrame({'Name': ['Janvier', 'Kate', 'Luna'], 'Age': [28, 27, 4]})

      Name  Age
0  Janvier   28
1     Kate   27
2     Luna    4

### Panel / Multi Dimensional DataFrame (3D)
Panel is a multi dimessional pandas data structure that can store 3-dimensional data, with axes labeled "items", "major_axis", and "minor_axis". This makes it ideal for storing data with multiple levels of hierarchy, such as time series data, financial data, and scientific data.

In [4]:
# Here is how to create a basic Panel from a DataFrame
index = pd.MultiIndex.from_product([['A', 'B'], [1, 2], ['X', 'Y']], names=['Letter', 'Number', 'Option'])
df = pd.DataFrame({'Value': [10, 20, 30, 40, 50, 60, 70, 80]}, index=index)
df

                      Value
Letter Number Option
A      1      X          10
              Y          20
       2      X          30
              Y          40
B      1      X          50
              Y          60
       2      X          70
              Y          80