## Summary Statistics

In [46]:
# Here is how to import pandas in your project
import pandas as pd;

In [47]:
df = pd.read_csv('../../titanic.csv', header=0)

In [48]:
# Minimum value of a particular column
data = df
data['Age'].min()

0.42

In [49]:
# Maximum value of a particular column
data = df
data['Age'].max()

80.0

In [50]:
# Average value of a particular column
data = df
data['Age'].mean()

29.677611731843573

In [51]:
# Average value of a selected columns
data = df
data[['Age', 'Fare']].mean()

Age     29.677612
Fare    32.069000
dtype: float64

In [52]:
# To get total number of row with positic value
data = df
data['Survived'].sum()

342

In [53]:
# Maximun value of X % of all entries
data = df
data['Age'].quantile(0.8) # Maximum age of 80% of all passenger

41.0

In [54]:
# Maximun value of X % of all entries
data = df
data['Age'].quantile(0.8) # Maximum age of 80% of all passenger

41.0

In [55]:
# To get a full Summary Statistics of the entire dataFrame
data = df
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,896.000000,896.000000,896.000000,716.000000,896.000000,896.000000,896.000000
mean,443.533482,0.381696,2.312500,29.677612,0.522321,0.379464,32.069000
std,258.739940,0.486074,0.835324,14.511864,1.100306,0.804306,49.587341
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,219.750000,0.000000,2.000000,20.375000,0.000000,0.000000,7.895800
50%,443.500000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,667.250000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [56]:
# To get a full Summary Statistics of a single dataFrame column
data = df
data['Age'].describe()

count    716.000000
mean      29.677612
std       14.511864
min        0.420000
25%       20.375000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [57]:
# To get a full Summary Statistics of selected dataFrame column
data = df
data[['Age', 'Fare']].describe()

              Age        Fare
count  716.000000  896.000000
mean    29.677612   32.069000
std     14.511864   49.587341
min      0.420000    0.000000
25%     20.375000    7.895800
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200